{% extends "header.html" %}
{% block content %}
    <section id="signup" class="">
      <div class="container-fluid">
        <div class="login-logo text-center">
          <img src="{{url_for('static', filename='images/pinklogo.png')}}" alt="blacnwyte logo">
        </div>
        <h5 class="text-center">Hi {{ user.firstname }}, edit your shipping address below:</h5>
        <div class="signup">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              <ul class='flashes text-center'>
              {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
          <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.country.label }} {{ form.country }}
            {{ form.state.label }} {{ form.state }}
            {{ form.localgovt }}
            {{ form.city }}
            {{ form.address }}
            <div class="text-center d-grid gap-2 col-6 mx-auto">
              {{ form.submit }}
            </div>
          </form>
        </div>
      </div>
    </section>
{% endblock %}